$theme-colors: (
    "primary": #59359a,
    "info": #63ccff,
);


$purple: #59359a;
$divider: #d6d6d6;
$light-blue: #63ccff;

body {
    overflow-x: hidden;
    background-color: #f1f1f1 !important;
}

main {
    height: 100vh;
}


h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}

.row {
    height: 100%;
}

/* --- AUTHENTICATION COMPONENTS --------------------- */

div.image-container {
    text-align: center;
    align-self: center;
    margin-right: 50px;

    img {
        width: 100%;
    }

    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        font-size: 5rem;
        margin-top: 10%;
    }
}

div.vertical-container {
    height: 100vh;
    color: white;
    //background-color: $purple;
    display: flex;
    flex-direction: column;

    .vertical-container-inner {
        margin: auto 0;
        flex: initial; 
        padding: 5rem;
    }
}

form.auth-form {
    .form-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 2px solid white;

        input {
            background-color: transparent;
            color: white;
            border: none;
            box-shadow: none;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }
    }
}

img.welcome-icon {
    display: block;
    height: 170px;
    margin: 0 auto 3rem;
}

/* --- CHAT LIST -------------------------- */

.right-col {
    border-right: 1px solid $divider;
    padding: 0 !important;
}

.chat-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 100px);
    

    .button-wrapper {
        background-color: $purple;
        height: 70px;

        button {
            height: 100%;
            font-weight: 500;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;

            svg {
                margin-right: 10%;
            }
        }
    }
}

div.list-group {
    padding: 0 15px !important;
    margin-left: 15px;

    div.list-group-item { 
        display: flex;
        align-items: center;
        margin-top: 10px;
        border: none;

        &:hover {
            cursor: pointer;
        }

        &.active {
            background-color: rgb(228, 228, 228);
            color: #333333;
            margin-top: 10px;
            border: none;
        }

        &.new-message {
            border-right: 10px solid $purple;
        }
    }
}

.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    margin-right: 10px;
    background-color: $light-blue;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    span {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        color: white;
    }
}

/* --- CHAT VIEW -------------------------- */

.chat-header {
    display: flex;
    align-items: center;
    padding: 10px 0 20px;
    margin-right: 40px;
    border-bottom: 1px solid $divider;
}

.chat-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 202px);
    overflow: auto;
    overflow-y: scroll;
    padding-right: 20px;
    padding-bottom: 20px;

    &.empty {
        display: none;
    }
}

.message-sent {
    clear: both;
    box-sizing: border-box;
    word-wrap: break-word;
    background-color: white;
    color: #333333;
    max-width: 70%;
    padding: 15px 20px;
    margin-top: 10px;
    line-height: 1.7em;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
    &.user-sent {
        align-self: flex-end;
        border-bottom-right-radius: 0;
    }

    &.friend-sent {
        align-self: flex-start;
        border-bottom-left-radius: 0;
    }
}

/* --- CHAT SEND -------------------------- */

form.send-form {
    padding: 30px 0 20px;
    border-top: 1px solid $divider;
    margin-right: 40px;
    align-items: center;

    input {
        background-color: transparent;
        border: none;

        &:focus {
            box-shadow: none !important;
            border-color: none !important;
            background-color: transparent !important;
        }
    }
}

button.send-btn {
    width: 50px;
    height: 50px;
    padding-right: 13px;
    margin-left: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* --- NEW CHAT & UPDATE PROFILE -------------------------- */

div.new-chat-form, div.update-profile {
    h2 {
        text-align: center;
        margin: 20px 0 10px;
    }

    form {
        width: 80%;
        margin: 20px auto;
    }

    input {
        margin-bottom: 15px;
        border-radius: 0;
    }

    label {
        margin-bottom: 0;
        font-weight: 500;
        text-transform: uppercase;
    }
    
    button {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }   
}

@import '~bootstrap/scss/bootstrap';